<%=render "worker_menu"%>

<h2>&nbsp</h2>


<%= render "create_item" %>



<div id=hidden_num_of_ings> <%= @counter %> </div>
<div id=hidden_id_of_ings> <% @ing_id.each do |ing| %> <%=ing.id%> <%end%></div>