<table>
    <tr><td> <button id="up_inv">Update Inventory</button> </td> <td>&nbsp</td>
        <td> <button id="orders">Orders</button> </td><td>&nbsp</td>
        <td> <button id="new_stuff">Manage Menu</button> </td> </tr>
</table>

<h3> Create a New Menu Item </h3>
<table>
    <tr> <table><tr><td><p>Name of New Item: </p></td><td><input id=nmi_name type=text> </td></tr></table></tr>
    <tr> <td><p> Select The Ingredients Involved with the Item</p></td></tr>
    <table>
        <tr> <th>Check Ingredients</th> <th>Check if Ingredient Is Required To Make Item</th> </tr>
        <% @ings.each do |ing| %>
            <tr><td> <input id=nmi_ing_<%= ing.id %> type=checkbox>  <%= ing.ingredient_name %></input> </td>
                <td> <input id=nmi_ing_<%= ing.id %>_vital type=checkbox></input> </td></tr>
        <% end %>
    </table>
    <tr><td><button id=nmi_submit>Add Item</button></td></tr>
</table>

<h2>&nbsp</h2>

<h3> Add a New Ingredient </h3>
<table>
    <tr> <td><p>Name of Ingredient: </p></td><td><input id=ni_name type=text> </td></tr>
    <tr> <td><p>Initial Quantity: </p></td><td><input id=ni_amount type=text> </td></tr>
    <tr> <td><p>Unit of Measurement: </p></td><td><input id=ni_unit type=text> </td></tr>
    <tr><td><button id=ni_submit>Add Ingredient</button></td></tr>
</table>
