
<table>
<tr><td><div class="up_inv">Update Inventory</div></td><td>&nbsp</td><td><div class="orders">Orders</div> </td></tr>
</table>
<div>&nbsp</div>
<div>
    <table>
        <% @ingredients.each do |ing| %>
            <tr> <td> <%= ing.ingredient_name %> </td><td>&nbsp</td>
            <td> <%= ing.amount_in_stock %> </td>
            <td> <%= ing.unit_of_stock %></td></tr>
        <%end%>
    </table>
</div>