<%=render "worker_menu"%>
<div>&nbsp</div>

<table class="inv_filters">
        <tr>
			<td><wrapper id="inv_search1">Filters</wrapper></td>
			<td>&nbsp</td>
			<td>Name: <input type=text id="inventory_search"></input></td>
			<td>&nbsp</td>
			<td>&nbsp</td>
		</tr>
</table>
<table class="inv_filters">
		<tr>
        	<td><form id="inv_filter"> Show All<input type="radio" value="0" name="filter" checked/> &nbsp
        Show Below Stocking Threshold<input type="radio" value="1" name="filter">&nbsp
        Show Out of Stock Only <input type="radio" value="2" name="filter"></form></td>
			<td>&nbsp</td>
			<td>&nbsp</td> 
        	<td>Misc Ingredients: <select id="misc_inv_dropdown">
            <option value="none">None</option>
            <option value="Microwave">Microwave</option>
            <option value="Drink">Drinks</option>
            <option value="Miscellaneous">Miscellaneous</option>
            <option value="Dessert">Dessert</option>
        	</select>
			</td>
		</tr>
        
    </table>

<div>&nbsp</div>

<div id="inv_to_update"><%=render "up_inv"%></div>