#head-container
{
	color: #000;
	background: #ccc;
}

#header
{
	margin: 0 auto;
	width: 860px;
	padding: 20px;
	background: #ddd;
}

#header h1 { margin: 0; }

#navigation-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #333;
}

#navigation
{
	margin: 0 auto;
	width: 900px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li button
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #0000FF;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li button:hover { background: #87CEEB; }

#hidden_num_of_ings
{
    display:none;
}
#hidden_id_of_ings
{
    display:none;
}

.login
{
    position:absolute;
    top:120; 
    float: left;
    background-color: #E5EECC;
    display:none;
}

.invalid_login
{
    color: red;
    display: none;
}

#orders
{
    padding: 10px 53px;
    background: #DCDCDC;
}
#orders:hover
{
    padding: 10px 53px;
    background: #87CEEB;
}

#up_inv
{
    padding: 10px 20px;
    background: #DCDCDC;
}
#up_inv:hover
{
    padding: 10px 20px;
    background: #87CEEB;
}
#new_stuff
{
    padding: 10px 29px;
    background: #DCDCDC;
}
#new_stuff:hover
{
    padding: 10px 29px;
    background: #87CEEB;
}


.add_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.sub_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.empty_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}

.add_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.sub_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.empty_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}

.new_item
{
    padding: 7px 5px;
    background: #DCDCDC;
}
.new_item:hover
{
    padding: 7px 5px;
    background: #87CEEB;
}




#content-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #eee;
}

#content-container2
{
	margin: 0 auto;
	width: 900px;
}

#content-container3
{
	float: left;
	width: 900px;
	background: #FFF;
}

#content
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer-container
{
	clear: left;
	color: #fff;
	background: #000;
}

#footer
{
	margin: 0 auto;
	width: 900px;
	text-align: right;
	padding: 20px;
	height: 1%;
}