#head-container
{
	color: #000;
	background: #ccc;
}

#header
{
	margin: 0 auto;
	width: 860px;
	padding: 20px;
	background: #ddd;
}

#header h1 { margin: 0; }
#header div
{
    float:right;
}

#navigation-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #333;
}

#navigation
{
	margin: 0 auto;
	width: 900px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li button
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #0000FF;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li button:hover { background: #87CEEB; }

#hidden_num_of_ings
{
    display:none;
}
#hidden_id_of_ings
{
    display:none;
}
#nmi_new_class
{
    display:none;
}

#nonworker_message
{
    color:red;
}

.login
{
    position:absolute;
    top:120; 
    background-color: #E5EECC;
    display:none;
}
#log_in_menu
{
    margin-left:165;
}
#sign_up_menu
{
    margin-left:225;
}
#forgot_pwd
{
    float:right;
}

.invalid_login
{
    color: red;
    display: none;
}

#orders
{
    padding: 10px 53px;
    background: #DCDCDC;
}
#orders:hover
{
    padding: 10px 53px;
    background: #87CEEB;
}

#up_inv
{
    padding: 10px 20px;
    background: #DCDCDC;
}
#up_inv:hover
{
    padding: 10px 20px;
    background: #87CEEB;
}
#new_stuff
{
    padding: 10px 29px;
    background: #DCDCDC;
}
#new_stuff:hover
{
    padding: 10px 29px;
    background: #87CEEB;
}


.add_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.sub_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.empty_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}

.add_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.sub_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.empty_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}

.new_item
{
    padding: 7px 5px;
    background: #DCDCDC;
}
.new_item:hover
{
    padding: 7px 5px;
    background: #87CEEB;
}
.mmleft
{
    float:left;
}
.mmright
{
    float:left;
    margin-left:20px
}


.classes
{
    float:left;
    padding:5px 25px;
}
.public_price
{
    float:left;
}
.hidden_ings_pub
{
    display:none;
}
.item_names_public
{
    padding: 7px;
    margin: 7px;
    background: #DCDCDC;
    width: 125px;
}
#public_items_0
{
    text-decoration: line-through;
}
#public_items_0:hover
{
    background: #FF4500;
}
#public_items_1:hover
{
    background: #FFD700;
}
#public_items_2:hover
{
    background: #7CFC00;
}
.pub_ing_0
{
    text-decoration: line-through;
    color: red;
}
#all_ing_0
{
    font-size:80%;
}
#submit_order
{
    margin-left: 750px;
}


.worker_buttons
{
    margin: 0 auto;
}


#content-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #eee;
}

#content-container2
{
	margin: 0 auto;
	width: 900px;
}

#content-container3
{
	float: left;
	width: 900px;
	background: #FFF;
}

#content
{
	clear: left;
	float: left;
	width: 900px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }


#footer-container
{
	clear: left;
	color: #fff;
	background: #000;
}

#footer
{
	margin: 0 auto;
	width: 900px;
	text-align: right;
	padding: 20px;
	height: 1%;
}