body {
    font-family: 'Helvetica Neue', Helvetica, Lucida, Arial, sans-serif;
    font-size:14px;
    color:#444;
}

#about_content {
	font-size: 15px;
	line-height: 1.5em;
}

.classes{
	font-size:16px;
	margin: 0px 0px 0px 0px;
}

.styled-select{
	margin-left:5px;
}

#order_count {
	padding:6px 0px 3px 0px;
}

#welcome-message{
	font-size:15px;
	padding-right: 10px;
	color: #FFFFFF;
	vertical-align:middle;
}

#logged_out {
	font-size:15px;
	color:#FFFFFF;
	margin: 0px 0px 0px 160px;
	padding-top:10px;

}
#logged_in {
	font-size:14px;
	color:#FFFFFF;
	margin: 0px 0px 2px 70px;
}

#headline {
	font-size:38px;
	clear: both;
	font-weight: bold;
}

#login_form {
	
}

#head-container
{
	color: #000;
	background: #FFFF66;
}

#header
{
	margin: 0 80;
	width: 860px;
	padding: 20px;
	background: #FFFF66;
}

#header h1 { margin: 0; }
#header div
{
    float:right;
}

#navigation-container
{
	float: left;
	width: 100%;
	color: #000;
	background: #333;
	height:40px;
}

#navigation
{
	margin: 0 100px;
	width: 1000px;
}

#navigation ul
{
	margin: 0px;
	padding:0px;
}
#navigation ul li
{
	list-style-type: none;
	display: inline;
	float:left;
}

.nav_button {
	color:#FFFFFF;
	border-style:none;
	background:#333;
	vertical-align:middle;
	font-size:16px;
	font-weight:bold;
}

#home_li {
	border-width: 0px 0px 0px 2px;
	border-style:solid;
	border-color:#FFFFFF;
	height:40px;
	padding:6px 5px 0px 5px;
	text-align:center;
}
#worker_li {
	border-width: 0px 0px 0px 2px;
	border-style:solid;
	border-color:#FFFFFF;
	height:40px;
	padding-top:6px;
	width: 130px;
	text-align:center;
}
#login_li {
	border-width: 0px 0px 0px 2px;
	border-style:solid;
	border-color:#FFFFFF;
	height:40px;
	padding:6px 5px 0px 5px;
	text-align:center;
}
#signup_li {
	border-width: 0px 0px 0px 2px;
	border-style:solid;
	border-color:#FFFFFF;
	height:40px;
	padding:6px 5px 0px 5px;
	text-align:center;
}

#about_li {
	border-width: 0px 2px 0px 2px;
	border-style:solid;
	border-color:#FFFFFF;
	height:40px;
	padding:6px 5px 0px 5px;
	text-align:center;
}

.nav_button:hover {
	color:#E5EECC;
}

#hidden_num_of_ings
{
    display:none;
}
#hidden_id_of_ings
{
    display:none;
}
#nmi_new_class
{
    display:none;
}

#nonworker_message
{
    color:red;
	padding:6px 0px 6px 0px;
}

.login
{
    position:absolute;
    top:120; 
    background-color: #E5EECC;
    display:none;
}
#log_in_menu
{
    margin-left:205;
    margin-top:12;
    padding: 7px 7px 0px 7px;
}
#sign_up_menu
{
    margin-left:281;
    margin-top:12;
    padding: 7px 7px 0px 7px;
}
#forgot_pwd
{
    float:right;
}

.invalid_login
{
    color: red;
    display: none;
}

#orders
{
    padding: 10px 53px;
    background: #DCDCDC;
}
#orders:hover
{
    padding: 10px 53px;
    background: #87CEEB;
}

#up_inv
{
    padding: 10px 20px;
    background: #DCDCDC;
}
#up_inv:hover
{
    padding: 10px 20px;
    background: #87CEEB;
}
#new_stuff
{
    padding: 10px 29px;
    background: #DCDCDC;
}
#new_stuff:hover
{
    padding: 10px 29px;
    background: #87CEEB;
}
#restock
{
    padding: 10px 13px;
    background: #DCDCDC;
}
#restock:hover
{
    padding: 10px 13px;
    background: #87CEEB;
}

.order_is_cooking
{
    padding: 10px 29px;
    background: #DCDCDC;
}
.order_is_cooking:hover
{
    padding: 10px 29px;
    background: #87CEEB;
}
.order_is_done
{
    padding: 10px 10px;
    background: #DCDCDC;
}
.order_is_done:hover
{
    padding: 10px 10px;
    background: #87CEEB;
}
.order_is_done1
{
    padding: 10px 10px;
    background: #DCDCDC;
}
.order_is_done1:hover
{
    padding: 10px 10px;
    background: #87CEEB;
}
.order_is_picked_up
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.order_is_picked_up:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}.order_is_abandoned
{
    padding: 10px 15px;
    background: #DCDCDC;
}
.order_is_abandoned:hover
{
    padding: 10px 15px;
    background: #87CEEB;
}
.worker_cancel_order
{
    padding: 10px 40px;
    background: #DCDCDC;
}
.worker_cancel_order:hover
{
    padding: 10px 40px;
    background: #87CEEB;
}

#inv_filter
{
    padding-top:18;
}

.inv_filters
{
    margin-left: 180;
}

#inv_search1
{
    font-size:150%;
}


.add_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.sub_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}
.empty_item
{
    padding: 10px 25px;
    background: #DCDCDC;
}

.add_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.sub_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}
.empty_item:hover
{
    padding: 10px 25px;
    background: #87CEEB;
}

.new_item
{
    padding: 7px 5px;
    background: #DCDCDC;
}
.new_item:hover
{
    padding: 7px 5px;
    background: #87CEEB;
}
.mmleft
{
    float:left;
}
.mmright
{
    float:left;
    margin-left:20px
}


.classes
{
    float:left;
    padding:5px 25px;
}
.public_price
{
    float:left;
}
.hidden_ings_pub
{
    display:none;
	font-size: 13px;
}
.pub_ings_in_itms{
	padding:0px 0px 0px 0px;
}
.item_names_public
{
    padding: 7px;
    margin: 7px;
    background: #DCDCDC;
    width: 125px;
}
#public_items_0
{
    text-decoration: line-through;
}
#public_items_0:hover
{
    background: #FF4500;
}
#public_items_1:hover
{
    background: #FFD700;
}
#public_items_2:hover
{
    background: #7CFC00;
}
.pub_ing_0
{
    text-decoration: line-through;
    color: red;
}
#all_ing_0
{
    font-size:90%;
	width: 100px;
}
#order_notes1
{
    margin-left:80;
}
#submit_order
{
    margin-left:50;
}

.menu_ingredient {
	width: 100px;
	padding: 0px 0px 0px 0px;
}

#order
{
    float:left;
    padding:25px 5px;
    margin:5px;
}
.orders_0_0
{
    border: 2px solid red;
}
.orders_1_0
{
    border: 2px solid yellow;
}
.orders_1_1
{
    border: 2px solid green;
}

#acc_orders
{
    float:left;
}
#acc_info
{
    float:left;
    margin-right: 200px;
	line-height: 2em;
	font-size: 15px;
}
#acc_inividual_order
{
    margin-bottom: 25px;
}


.worker_buttons
{
    margin: 0 auto;
}

#about_content
{
    width: 850px;
}


#content-container
{
	float: left;
	width: 950px;
	color: #000;
	background: #FFFFFF;
}

#content-container2
{
	margin-left:100px;
        width:100%;
}

#content
{
	clear: left;
	float: left;
	width: 1200px;
	padding: 20px 0;
	margin: 0 0 0 0px;
	display: inline;
}

#content h2 { margin: 0; }


#footer-container
{
	clear: left;
	color: #fff;
	background: #333;
}

#footer
{
	margin: 0 auto;
	width: 900px;
	text-align: right;
	height: 40px;
}

#footer_text{
	line-height: 3em;
}

.grill_ings
{
    display:none;
    background: #E5EECC;
    z-index:100;
    position:absolute;
    margin: 0;
    width:66%;
}




#modalContainer {
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:2px solid #000;
	background-color:#F2F5F6;
	background-image:url(alert.png);
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#78919B;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
	font:0.7em verdana,arial;
	height:50px;
	padding-left:5px;
	margin-left:55px;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:3px;
	border:1px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#78919B;
	text-decoration:none;
}

