
<table class="worker_buttons">
    <tr>
        <td> <button id="orders">Orders</button> </td><td>&nbsp</td>
        <td> <button id="up_inv">Update Inventory</button> </td> <td>&nbsp</td>
        <td> <button id="new_stuff">Manage Menu</button> </td>
        <td> <button id="restock">Send Stocking Email</button> </td> 
        <td> <button id="manual">Worker Help</button> </td>
    </tr>
</table>