<div id='about_content'>
<h2> The Buttery </h2>


<p>The buttery is a student run kitchen in the basement of Pierson
College.  It is open from 10:30pm to 12:30am Sunday-Thursday.  It
provides Pierson students with cheap, late night snacks.  The food at
the buttery is heavily subsidized by Pierson College.<p>

<h2> The Website </h2>


<p>The Website was developed in an attempt to make the buttery more
accessible to students.  It provides students with the ability to
order food from the comfort of their rooms and alerts them when it is
being prepared.</p>

<p>The Menu:  The site allows students to see what is available to them
in real time.  Each item has a button.  If the moving your mouse over
it makes the button turn red, the item is unavailable.  If it turns
yellow, the item is available but in limited varieties.  If it turns
green, every version of the item is available.</p>

<p>Placing An Order:  Click on the buttons of the items you would like.
This will reveal a menu of ingredients that can be used for that item.
 Choose the amount of servings you would like, and once you have done
this for all of the items you want, click the submit button.</p>

<p>The Order:  You can view all of your active orders from the account
info page.  If an order has not been started, you can cancel it here.
Once the order has been started, an email will be sent to your Yale
email address.  This way, you can time your trip to the buttery so you
can get your food before it gets cold.  If you place an order, it is
your responsibility to pick it up before the end of the shift.<p>

<p>If you have any problems with the site, or questions about the buttery, feel
free to shoot Mike an email at michael.levine@yale.edu</p>
</div>