<!-- NOTE TO SELF:  HARDCOPY ITEMS NOW BUT EVENTUALLY CALL DB TO AUTOMATICALLY INSERT-->
<!-- NOTE TO SELF:  ALSO, ADD GREEN YELLOW, AND RED BUTTONS-->


<% clas="" %>
<% @classes.each do |cla| %> 
    <% if clas!=cla.class_of_food %>
        <% clas=cla.class_of_food %>
        <h3><%= clas %></h3>
        <table border="0">
            <% @parents.each do |parent| %>
                <% if parent.class_of_food==clas %>
                    <tr>
                        <td><%= parent.parent_name %></td>
                        <td><%= parent.rgb %></td>
                    </tr>
                <%end%>
            <%end%>
        </table>
    <% end %>
<% end%>
