<html>
    <head>
<%=stylesheet_link_tag("style")%>
<%=javascript_include_tag :defaults, "application1"%>
</head>

<div id="all">
<div id="head-container">
	<div id="header">
		<h1>
			Pierson Buttery
		</h1>
                <div>
                    Hi, michael levine
                </div>
	</div>
</div>

<div id="navigation-container">
    <div id="navigation">
                <ul>
                        <li><button id="home">Home</button></li>
                        <li><button id="worker_view">Worker View</button></li>
                        <li><button id="log_in">Log In</button></li>
                            <div class="login" id="log_in_menu">
                                <p>Login Information</p>
                                <form>
                                <table>
                                    <tr><td>username: <td/><td><input type="text" id="username" /></td></tr>
                                    <tr><td>password: <td/><td><input type="password" id="pwd" /></td>
                                </table>
                                </form>
                                <button id="login_button">Log In</button>
                                <div class="invalid_login" id="invalid_login">Invalid Username/Password</div>
                                <div class="invalid_login" id="invalid_login5">Account Not Activated.</br>Activation Email Has Been Resent</div></div>
                        <li><button id="sign_up_butt">Sign Up</button></li>
                            <div class="login" id="sign_up_menu">
                                <p>Information for New Account</p>
                                <form>
                                <table>
                                    <tr><td>username: <td/><td><input type="text" id="username1" /></td></tr>
                                    <tr><td>email address: <td/><td><input type="text" id="email1" /></td></tr>
                                    <tr><td>password: <td/><td><input type="password" id="pwd0" /></td>
                                    <tr><td>retype password: <td/><td><input type="password" id="pwd1" /></td> 
                                </table>
                                </form>
                                <button id="sign_up_button">Sign Up</button> <button id="forgot_pwd">Forgot Passowrd</button>
                                <div class="invalid_login" id="invalid_login1">Invalid Entry</div>
                                <div class="invalid_login" id="invalid_login2">Must Use Yale Email Address and Matching Passwords</div>
                                <div class="invalid_login" id="invalid_login3">This Email Already Has an Active Account</div>
                                <div class="invalid_login" id="invalid_login4">You Have Entered an Invalid Yale Email </br>Address For A Student of Pierson</div>
                            </div>
                </ul>
        </div>
</div>


<div id="content-container">
	<div id="content-container2">
		<div id="content-container3">
			<div id="content">
                                <%=yield%>
			</div>
			
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			Created by Mike Levine and Cameron Musco, 2011
		</div>
	</div>
</div>
</div>

</html>