<html>
    <head>
<%=stylesheet_link_tag("style")%>
<%=javascript_include_tag :defaults%>
</head>

<div id="head-container">
	<div id="header">
		<h1>
			Pierson Buttery
		</h1>
	</div>
</div>

<div id="navigation-container">
    <div id="navigation">
                <ul>
                        <li><button>Home</button</li>
                        <li><button>Ordering</button></li>
                        <li><button>Log In</button></li>
                </ul>
        </div>
</div>


<div id="content-container">
	<div id="content-container2">
		<div id="content-container3">
			<div id="content">
                                <%=yield%>
			</div>
			<div id="aside">
				<h3>
					About the Buttery
				</h3>
				<p>
					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
				</p>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			Created by Mike Levine and Cameron Musco, 2011
		</div>
	</div>
</div>
</html>