<html>
    <head>
<%=stylesheet_link_tag("style")%>
<%=javascript_include_tag :defaults, "application1"%>
</head>

<div id="head-container">
	<div id="header">
		<h1>
			Pierson Buttery
		</h1>
	</div>
</div>

<div id="navigation-container">
    <div id="navigation">
                <ul>
                        <li><button id="home">Home</button</li>
                        <li><button id="ordering">Ordering</button></li>
                        <li><button id="log_in">Log In</button></li>
                            <div class="login" id="log_in_menu">
                                <p>Login Information</p>
                                <form>
                                <table>
                                    <tr><td>Enter your NetId: <td/><td><input type="text" id="netid" /></td></tr>
                                    <tr><td>Password: <td/><td><input type="password" id="pwd" /></td>
                                </table>
                                </form>
                                <button id="login_button">Log In</button>
                                <div id="invalid_login">Invalid NetId/Password</div>
                            </div>
                </ul>
        </div>
</div>


<div id="content-container">
	<div id="content-container2">
		<div id="content-container3">
			<div id="content">
                                <%=yield%>
			</div>
			<div id="aside">
				<h3>
					About the Buttery
				</h3>
				<p>
					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
				</p>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			Created by Mike Levine and Cameron Musco, 2011
		</div>
	</div>
</div>


</html>